.breadscrumbs__list {
    display: flex;
    padding-left: 110px;
    font-style: italic;
}

.breadscrumbs__item {
    color: #E1942A;
    text-decoration: underline;
}

.breadscrumbs__item--active {
    text-decoration: none;
    color: inherit;
}

.breadscrumbs__link:before {
    display: inline-block;
    content: '/';
    margin-left: 2px;
    margin-right: 2px;
}

.breadscrumbs__item:first-child .breadscrumbs__link:before {
    display: none;
}

.breadscrumbs__link {
    color: inherit;
    text-decoration: inherit;
}