/* FOOTER========= */

.footer {
    background-color: #1a1b1c;
    padding-top: 14px;
    padding-bottom: 12px;
    color: white;
    width: 100%;
 }
 
 .footer__layout {
     display: flex;
     min-height: 75px;
     justify-content: space-between;
     align-items: center;
 }
 
 .copyright, .logo--footer, .social, .social__list, .social__item {
     display: flex;
 }