* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none; display: inline-block
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

html, body, header, ul, li {
    padding: 0; margin: 0;
}

.logo, .menu, .contacts, .menu__item {
    font-size: 18px;   
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.page {
    padding-top: 44px;
}

.content__title {
    padding-top: 28px;
    padding-left: 110px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Open Sans', serif;
}