.wrapper-intro {
    height: 100vh;
    position: relative;
    min-width: 100wh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.wrapper__img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    object-fit: cover;
}

.wrapper__layout {
    display: flex;
    flex-direction: column;
}

.logo-intro {
    margin: auto;
}

.button-intro {
    margin-top: 40px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #f89513;
    padding: 20px 20px 16px 20px;
    border-radius: 4px;
}