.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

/*===иконки===*/

.menu__link {
    color: inherit;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.11em;
}

.menu__link:before {
    display: inline-block;
    content: '';
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu__item--active {
    color: #E1942A;
}

.menu__link--barbell:before {
    width: 19px; height: 14px;
    background: url('/img/menu-sprites.png') -10px -48px;
}

.menu__item--active .menu__link--barbell:before {
    width: 19px; height: 14px;
    background: url('/img/menu-sprites.png') -49px -48px;
}

.menu__link--curve:before {
    width: 19px; height: 14px;
    background: url('/img/menu-sprites.png') -90px -10px;
}

.menu__item--active .menu__link--curve:before {
    width: 19px; height: 14px;
    background: url('/img/menu-sprites.png') -90px -44px;
}

.menu__link--star:before {
    width: 20px; height: 18px;
    background: url('/img/menu-sprites.png') -10px -10px;
}

.menu__item--active .menu__link--star:before {
    width: 20px; height: 18px;
    background: url('/img/menu-sprites.png') -50px -10px;
}