/* ПАГИНАЦИЯ */

.pagination {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__info {
    flex-shrink: 0;
   padding-right: 18px;
}

.pagination__control {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 10px;
    height: 10px;
    display: block;
    margin: 0 8px;
}

.pagination__control--left {
    background-image: url(/img/control-left.png);
    background-repeat: no-repeat;
}

.pagination__control--right {
    background-image: url(/img/control-right.png);
    background-repeat: no-repeat;
}

.pagination__list, .pagination__item {
    display: flex;
    font-weight: 700;
}

.pagination__link {    
    color: #262424;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__link--active {
    color: #e09329;
    background-color: #2b2b40;
    border-radius: 5px;
    text-align: center;
}

.pagination__link:hover {
    color: #e09329;
}
