/* ====УСЛУГИ==== */

.services {
    padding: 30px 100px 0px 100px;
}

.services__list {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.services__item {
    flex-grow: 0;
 flex-shrink: 0;
 flex-basis: 290px;
 /* background-color: #e09329; */
 display: flex;
 flex-direction: column;
 align-items: center;
}

.services__img-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
}

.services__img-box {
    width: 270px;
    height: 174px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.services__img {
    display: block;
    width: 100%;
    object-fit: cover;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

.services__img-wrapper:after {
    content: '';
    background-color: rgba(65, 105, 70, .52);
    left: 0; right: 0; top: 0; bottom: 0;
    /* height: 100%; */
    position: absolute;
    display: block;
    z-index:1000;
}

.services__img-box:hover {
    cursor: pointer;
}

.services__cover {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans', serif;
    text-transform: uppercase;
    color: #fff;
    z-index: 1500;
}

.services__img-box:hover .services__img-wrapper:after, .services__img-box:hover .services__cover {
    display: none;
}


.services__content {
    padding: 20px;
    /* background-color: #7551c9; */
}
