.social {
    padding-right: 20px;
    flex-direction: column;
}

.social__link {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #cfcfcf;
    text-align: center;
    margin-top: 8px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
}

.social__item--active .social__link {
    background-color: #e1942a;
}

.social__link--fb {
    width: 6px; height: 13px;
    background: url('/img/social-sprites.png') -73px -10px;
}

.social__link--mail {
    width: 12px; height: 9px;
    background: url('/img/social-sprites.png') -10px -10px;
}

.social__link--tw {
    width: 11px; height: 9px;
    background: url('/img/social-sprites.png') -42px -10px;
}

.social__link--vk {
    width: 12px; height: 7px;
    background: url('/img/social-sprites.png') -10px -39px;
}