.social {
    padding-right: 20px;
    flex-direction: column;
}

.social__link {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #cfcfcf;
    text-align: center;
    margin-top: 8px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    object-fit: cover;
    transition: .3s;
}

.social__link:hover {
    background-color: #e1942a;
    transition: .2s;
}

 .social__icon {    
    display: block; 
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; 
}

.social__icon--fb {
    width: 6px; height: 13px;
    background: url('/img/social-sprite.png') -73px -10px;
}

.social__icon--mail {
    width: 12px; height: 9px;
    background: url('/img/social-sprite.png') -10px -10px;
}

.social__icon--tw {
    width: 11px; height: 9px;
    background: url('/img/social-sprite.png') -42px -10px;
}

.social__icon--vk {
    width: 12px; height: 7px;
    background: url('/img/social-sprite.png') -10px -39px;
}
