@import url(fonts.css);
@import url(/css/layout.css);
@import url(/css/wrapper.css);
@import url(/css/header.css);
@import url(/css/logo.css);
@import url(/css/menu.css);
@import url(/css/contacts.css);
@import url(/css/hero.css);
@import url(/css/features.css);
@import url(/css/news.css);
@import url(/css/top-news.css);
@import url(/css/pagination.css);
@import url(/css/footer.css);
@import url(/css/copyright.css);
@import url(/css/social.css);
@import url(/css/breadscrumbs.css);
@import url(/css/comments.css);
@import url(/css/promo.css);
@import url(/css/form.css);
@import url(/css/);
@import url(/css/services.css);
@import url(/css/partners.css);



/* ====content==== */

/* ВАЖНАЯ ЧАСТЬ -2
КАРТИНКИ: BLOCK
MAX-WIDTH: 100% 
no-repeat
center center
contain
overflow: hidden (избежать скролов)*/

/* ОСОБЕННОСТИ */

/* не понятно как задать ширину столбцов в особенностях 
как выровнять по вертикали инлайн-блочные элементы*/






