@import url(fonts.css);
* {
    box-sizing: border-box;
    margin: 0; padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none; display: inline-block
}

html, body {
    height: 100%;
    width: 100%;
}

html {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

html, body, header, ul, li {
    padding: 0; margin: 0;
}

/* ВАЖНАЯ ЧАСТЬ -1 */
.wrapper {
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper__layout {
    flex: 1;
    width: 100%;
}

.header {
    background-color: #1A1B1C;
    color: #fff;
    width: 100%;
}

.logo, .menu, .contacts, .menu__item {
    display: inline-block;
    font-size: 18px;   
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 17px 20px;
    height: 76px;
}

.logo, .logo__link {
    font-family: 'Gora Free';
    color: #e1942a;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

/*===иконки===*/

.menu__icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.menu__icon--curve {
    background-image: url(/img/menu-icon-curve.png);
}

.menu__icon--star {
    background-image: url(/img/menu-icon-star.png);
}

.menu__icon--barbell {
    background-image: url(/img/menu-icon-barbell.png);
}

.menu__link {
    color: inherit;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.11em;
}

.menu__link--active {
    color: #E1942A;
}

/* КОНТАКТЫ */

.contacts {
    text-align: right;
}

.phone__number {
    color: inherit;
    font-size: 21px;
    font-weight: 700;
}

.schedule {
    position: relative;
}

.schedule__title {
    color: #e1942a;
    font-weight: 700;
}

.schedule__drop-down {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.29em;
    position: absolute;
    right: 0;
    display: none;
    min-width: 162px;
    margin-top: 10px;
    padding: 20px;
    background-color: brown;
    border-radius: 5px 0px 5px 5px;   
}

.schedule__drop-down:after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: brown;
    top: 0;
    right: 0;
    transform: rotate(45deg);
    transform-origin: top right;
}

.schedule:hover .schedule__drop-down {
    display: block;
}

.schedule:hover .schedule__title {
    color: #ccc;
}

.schedule__work-hours {
    font-weight: 800;
    color: #e1942a;
    margin-bottom: 12px;
}

/* ====content==== */
.hero {
    text-align: center;
    overflow: hidden;    
    padding-top: 78px;
    padding-bottom: 60px;

}

.hero__img {
    margin-top: 78px;
    margin-bottom: 57px;
    display: block;
    margin: 0 auto;
}

/* ВАЖНАЯ ЧАСТЬ -2
КАРТИНКИ: BLOCK
MAX-WIDTH: 100% 
no-repeat
center center
contain
overflow: hidden (избежать скролов)*/

/* ОСОБЕННОСТИ */
.features {
    background-color: #1A1B1C;
    padding-top: 22px;
    padding-bottom: 114px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.features__main-title {
    font-size: 49px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase
}

.features__list {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-top: 20px;
}

.features__item {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 224px;
}

.features__icon-wrapper {
    background-color: #e1942a;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.features__icon {
    position: absolute;
    top: 30%;
    right: 28%;
    display: block;
}

.features__title {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 36px;
    
}

.features__description {
    margin-top: 26px;
}

.feature__description-text {
    font-size: 20px;
    font-weight: 400;
}
.feature__description-item {
    font-size: 18px;
    text-align: left;
    padding-left: 20px;
}

.feature__description-list {
list-style: none;
margin-top: 20px;
margin-left: 15px;
line-height: 1.4;
}

.feature__description-item:before {
    display: inline-block;
    content: '';
    height: 4px;
    width: 4px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 7px;
}

/* не понятно как задать ширину столбцов в особенностях 
как выровнять по вертикали инлайн-блочные элементы*/

/* НОВОСТИ */

.news {
    width: 100%;
    padding-top: 58px;
    padding-bottom: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news__main-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}


.news__layout {
    display: flex;
}

.all-news {
    display: flex;
    padding-top: 44px;
}


.all-news__item {
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 19px;
    display: flex;
    border-bottom: 2px solid #f4f4f4;

}

.all-news__img-box {
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
}

.news__img {
    display: block;
    width: 100%;
}



.all-news__content {
    padding-left: 20px;
}

.all-news__date {
    font-size: 14px;

}

.all-news__title {
    font-size: 18px;
    margin-top: 6px;
}

.all-news__text {
font-size: 18px;
font-family: Roboto, sans-serif;
line-height: 1.55;
margin-top: 10px;
}

/* ТОП НОВОСТЕЙ */

.top-news {
    flex-grow: 0;
    flex-basis: 200px;
    padding: 66px 20px 46px 20px;
}

.top-news__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.58;
    font-weight: 700;
    text-transform: uppercase;
}

.top-news__list {
    width: 100%;
}

.top-news__item {
    overflow: hidden;
    width: 160px;
}

.top-news__img {
    display: block;
    margin-top: 20px;
    width: 100%;
}

/* ПАГИНАЦИЯ */
.pagination {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    text-align: center;
    padding-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__info {
    flex-shrink: 0;
   padding-right: 18px;
}

.pagination__control {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 10px;
    height: 10px;
    display: block;
    margin: 0 8px;
}

.pagination__control--left {
    background-image: url(/img/control-left.png);
    background-repeat: no-repeat;
}

.pagination__control--right {
    background-image: url(/img/control-right.png);
    background-repeat: no-repeat;
}

.pagination__list, .pagination__item {
    display: flex;
}

.pagination__link {    
    color: #262424;
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination__link--active {
    color: white;
    background-color: #2b2b40;
    border-radius: 5px;
    text-align: center;
}

/* FOOTER========= */

.footer {
   background-color: #1a1b1c;
   padding-top: 14px;
   padding-bottom: 12px;
   color: white;
   width: 100%;
}

.footer__layout {
    display: flex;
    min-height: 75px;
    justify-content: space-between;
    align-items: center;
}

.copyright, .logo--footer, .social, .social__list, .social__item {
    display: flex;
}

.copyright {
    flex-shrink: 0;
    flex-basis: 280px;
    padding-left: 20px;
    /* margin-top: 15px; */
}

.social {
    padding-right: 20px;
    flex-direction: column;
}

.social__link {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #cfcfcf;
    text-align: center;
    margin-top: 8px;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    object-fit: cover;
}

.social__item--active .social__link {
    background-color: #e1942a;
}

 .social__icon {    
    display:block; 
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; 
}