.wrapper {
    overflow: hidden;
    min-width: 1100px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper__layout {
    flex: 1;
    width: 100%;
}